<div>

    <div class="file-text">Fetch Account Information/Transaction </div>
    <div class="text">
          <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
    </div>

    <div>
      <div class='account-number right'>
        <textarea placeholder="Enter Account Number" id='acc_no' #acc_no></textarea><br>
      </div>
      <button class='btn btn-success btn-med right' (click)='getAccount($event)'>Get Account Details</button>
    </div>


    <div class="file-text">Create New Account </div>
    <div class="text right">
          <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
    </div>

    <div>
        <button class='btn btn-success btn-med right' (click)='createUser($event)' id='create-user'>Create User</button>
    </div>

</div>

  
<router-outlet></router-outlet>