
<!--Dummy Text-->
<div class="file-text">Account Information </div>
<div class="text">
      <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>

<div class="text heavy">
    <p> Account Number: </p>
    <p> Account Holders Name: </p>
    <p> Account Type: </p>
    <p> Current Balance: </p>
    <p> Account Branch: </p>
</div>

<div class="file-text">
    <p>Transaction History/E-Statement </p>
</div>

<div>
    
      <div class='create-rule left'>
          <button type="button" class="btn btn-success btn-size btn-text" (click)='getTransactions($event)'>GET TRANSACTIONS</button>
      </div> 

</div>


  <!--Modal Design Code to be displayed when clicked on any Transaction Button-->
  <div class="modal fade" id="addUser" role="dialog" aria-labelledby="myModalLabel">

      <div class="modal-dialog modal-lg" role="document">
    
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title w-100" id="myModalLabel"></h3>
            
          </div>
          <div class="modal-body">
            <p class="text">Enter Transaction Amount.</p>
            <input type="text" class="right" id="f-input">
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-size resetPass" data-dismiss="modal" (click)='transaction($event)'>Complete Transaction</button>
          </div>

        </div>
      </div>
    </div>
